@import "tailwindcss";
.swiper {
  width: 100%;
  height: 100;
}
body {
  overflow-x: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  /* background-color: blue; */
  border-radius: 6px; /* square with slight rounding */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  color: #fff;
}
